body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: rgb(236, 173, 113);
  position: relative;
  padding-top: 100px;
}

.top-container h1 {
  font-size: 50px;
}

.top-cloud {
  position: absolute;
  right: 230px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  font-size: 500px;
}

.middle-container {
}

.bottom-container {
}
